<img class="image-bg" src="../../assets/dell.jpg" />
<div *ngIf="video">
    <video style="position: fixed" width="100%" heigh t="100%" autoplay="true" loop="true" (click)="closeVideo()">
        <source src="../../assets/DellVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="boxCOE" style="top: 90%; left: 30%; position: fixed; border-radius: 0%; padding: 55px;">
            <h2 class="COETip">Touch anywhere to start tour.</h2>
    </div>  
</div>

<!-- <div style='transform: translate(20%, 50%);'> -->
<div *ngIf="!video">
    <div class="boxCOE" style="top: 4.5%; left: 31%; position: fixed; border-radius: 0%; padding: 62px;">
            <h1 class="COETip">Tap on a Business Unit to learn more...</h1>
    </div>  
    <div style='top: 30%; left: 28.3%; position: fixed;'>
        <div class="box" style="top: 28%; left: 22%; position: fixed; border-radius: 10%; padding: 8px;" (click)="openModal('ISG Support Services')">
            <h2 class="BUname">ISG Support Services</h2>
        </div>    
        <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('ISG Support Services')">
            <h2 class="BUname">+</h2>
        </button> -->

    </div>
    <div style='top: 30%; left: 28.3%; position: fixed;'>
            <div class="box" style="top: 28%; left: 40%; position: fixed; border-radius: 10%; padding: 8px;" (click)="openModal('IMS Expansion')">
                <h2 class="BUname">IMS Expansion</h2>
            </div>    
            <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
                (click)="openModal('ISG Support Services')">
                <h2 class="BUname">+</h2>
            </button> -->
    
    </div>
    <div style='top: 30%; left: 80.4%; position: fixed;'>
            <div class="box" style="top: 28%; left: 85%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Tech Dev')">
                <h2 class="BUname">Tech Dev</h2>
            </div>    
            <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
                (click)="openModal('ISG Support Services')">
                <h2 class="BUname">+</h2>
            </button> -->
    
        </div>


    <div style='top: 45%; left: 21%; position: fixed;'>
        <div class="box" style="top: 41.5%; left: 23%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Customer Success')">
            <h2 class="BUname">Customer Success</h2>
        </div>
        <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Customer Success')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 52%; left: 23%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Deployment Services')">
            <h2 class="BUname">Deployment Services</h2>
        </div>
        <!-- <button style='top: 56%; left: 21.5%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Deployment Services')">

            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 62%; left: 22.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Dell Tech Managed Services')">
            <h2 class="BUname">Dell Tech Managed Services</h2>
        </div>
        <!-- <button style='top: 66%; left: 22%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Dell Tech Managed Services')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 72%; left: 26.5%;position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Presales')">
            <h2 class="BUname">Presales</h2>
        </div>
        <!-- <button style='top: 76%; left: 22.5%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Presales')">
            <h2 class="BUname">+</h2>
        </button> -->
    </div>




    <div style='top: 45%; left: 37%; position: fixed;'>
        <div class="box" style="top: 41.5%; left: 40.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('T&M Quoting')">
                <h2 class="BUname">T&M Quoting</h2>
        </div>
        <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Global Service Parts')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 52%; left: 39%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Assets Management')">
                <h2 class="BUname">Assets Management</h2>
             </div>    
       <!-- <button style='top: 56%; left: 37%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Assets Management')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 62%; left: 41%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Service Sales')">
                <h2 class="BUname">Service Sales</h2>
            </div>
        <!-- <button style='top: 66%; left: 37.5%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Service Sales')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 72%; left: 42.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('VMWare')">
                <h2 class="BUname">VMWare</h2>
            </div>
        <!-- <button style='top: 76%; left: 37.7%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('VMWare')">
            <h2 class="BUname">+</h2>
        </button> -->

    </div>



    <div style='top: 45%; left: 64%; position: fixed;'>
        <div class="box" style="top: 41%; left: 69.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('RSA')">
                <h2 class="BUname">RSA</h2>
        </div>
        <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('RSA')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 52%; left: 68%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Consulting')">
                <h2 class="BUname">Consulting</h2>
        </div>
        <!-- <button style='top: 56%; left: 64%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Consulting')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 62%; left: 66%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Education Services')">
                <h2 class="BUname">Education Services</h2>
        </div>
        <!-- <button style='top: 66%; left: 64%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Education Services')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 72%; left: 67%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Service Pricing')">
                <h2 class="BUname">Service Pricing</h2>
        </div>
        <!-- <button style='top: 76%; left: 63.5%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Service Pricing')">
            <h2 class="BUname">+</h2>
        </button> -->

    </div>




    <div style='top: 45%; left: 80%; position: fixed;'>
            <div class="box" style="top: 41%; left: 84%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Live Optics')">
                    <h2 class="BUname">Live Optics</h2>
            </div>
        <!-- <button type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Live Optics')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 52%; left: 82.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Servers Business')">
                <h2 class="BUname">Servers Business</h2>
        </div>
        <!-- <button style='top: 56%; left: 79.5%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Servers Business')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 62%; left: 79%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Deployment and Field Services')">
                <h2 class="BUname">Deployment and Field Services</h2>
        </div>
        <!-- <button style='top: 66%; left: 79%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings" (click)="openModal('Deployment and Field Services')">
            <h2 class="BUname">+</h2>
        </button> -->

        <div class="box" style="top: 72%; left: 80%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Advanced Technologies R&I')">
                <h2 class="BUname">Advanced Technologies R&I</h2>
        </div>
        <!-- <button style='top: 76%; left: 79%; position: fixed;' type="button"
            class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Advanced Technologies R&I')">
            <h2 class="BUname">+</h2>
        </button> -->

    </div>




    <div style='top: 30%; left: 64.3%; position: fixed;'>
        <div class="box" style="top: 28%; left: 68.5%; position: fixed; border-radius: 10%; padding:  8px;" (click)="openModal('Milky Way')">
                <h2 class="BUname">Milky Way</h2>
        </div>
        <!-- <button id='Presales' type="button" class="btn btn-icon btn-primary button-style" aria-label="settings"
            (click)="openModal('Milky Way')">
            <h2 class="BUname">+</h2>
        </button> -->
    </div>

    <clr-modal [(clrModalOpen)]="modal" [clrModalStaticBackdrop]="false" style="width: 80%">
        <br><br><br>
        <h1 class="modal-title">{{currentBu}}</h1>
        <div class="modal-body">
            <div *ngFor="let c of content">
                <p style="font-size: 56px; line-height: 3rem">{{c}}</p>
                <br>
            </div>
        </div>
        <br>
    </clr-modal>

</div>